body {
	background-image: url('../img/0.png') ;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
#all {
	/*凝胶布局关键代码*/
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#header {
	width: 100%;
	height: 100px;
	background-image: url('../img/headerP.png');
	background-color: rgba(255, 106, 0, .00784313725490196);
}
#nav {
	width: 100%;
	height: 50px;
	margin-top: 10px;
	background-color: rgba(154, 58, 24, .5764705882352941);
	border-radius:20px 20px 0 0;
}
.inner {
	width: 800px;
	height: 50px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	align-items: center;
}
#nav ul {
	margin: 0;
	width: 800px;
	height: 40px;
	text-align: center;
	background-color: #E7DBD0FF;
	border-radius:20px 20px 20px 20px;
	list-style: none;
	padding: 0;
}
#nav ul li {
	height: 40px;
	display: inline;
	text-align: center;
	line-height: 40px;
	padding: 5px 25px 5px 25px;
	border-radius:20px 20px 20px 20px;
}
#nav ul li.selected {
	background-color: rgba(154, 58, 24, .5764705882352941);
}
#nav ul li a {
	text-decoration: none;
	font-family: "华文琥珀";
	font-weight: 250;
	color: #404040FF;
}
#nav ul li:hover {
	background-color: rgba(154, 58, 24, .5764705882352941);
}
#container {
	background-color: #E7DBD0FF;
	border-radius:0px 0px 20px 20px;
}
#container .tit {
	padding-top: 20px;
	text-align: center;
}
#container .tit p {
	margin: 0;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
}
#container .cont1 {
	text-indent: 2em;
	width: 950px;
	margin-right: 25px;
	margin-left: 25px;
	line-height: 35px;
	font-family: "宋体";
	font-weight: bold;
	font-size: 19px;
}
#container .cont2 {
	margin-left: 100px;
	width: 800px;
	height: 400px;
}
#container .cont2 .cont2-1, #container .cont2 .cont2-2 {
	float: left;
}
.cont4 .cont4-1 {
	margin-left: 250px;
	width: 500px;
	height: 500px;
}
.cont5 .cont5-1 {
	margin-left: 250px;
	width: 500px;
	height: 300px;
}
#foot {
	height: 200px;
	margin-top: 20px;
	margin-bottom: 100px;
}
#foot .f1 {
	height: 40px;
	background-color: rgba(154, 58, 24, .5764705882352941);
	border-radius:20px 20px 0px 0px;
	display: flex;
	align-items: center;
}
#foot .f2 {
	height: 160px;
	background-color: rgba(154, 58, 24, .5764705882352941);
	border-radius:0px 0px 20px 20px;
}
#foot .f2 .f2-1 {
	width: 250px;
	height: 160px;
	float: left;
}
#foot .f2 .f2-2 {
	width: 250px;
	height: 160px;
	float: left;
}
#foot .f2 .f2-3 {
	width: 250px;
	height: 160px;
	float: left;
}
#foot .f2 .f2-4 {
	width: 250px;
	height: 160px;
	float: left;
}
#foot .f1 .f1-1 {
	width: 150px;
	height: 30px;
	margin-right: 425px;
	margin-left: 425px;
	display: flex;
	align-items: center;
    background-color: #E7DBD0FF;
    border-radius: 20px 20px 20px 20px;
}
#foot .f1 .f1-1 p {
	margin: 0 auto;
	text-align: center;
	font-family: "微软雅黑";
	font-weight: bold;
}
#foot .f2-4-1 {
	width: 245px;
	height: 30px;
	margin-right: 0px;
	margin-left: 5px;
	background-color: #FFFFFFFF;
}
#foot .f2-2-1, #foot .f2-3-1 {
	width: 240px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #FFFFFFFF;
}
#foot .f2-1-1 {
	width: 245px;
	height: 30px;
	margin-right: 5px;
	margin-left: 0px;
	background-color: #FFFFFFFF;
}
#foot .f2 p {
	margin: 0;
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";

}
#foot .f2 .f2-1-2 {
	height: 130px;
	width: 245px;
	margin-right: 5px;
	background-color: #E5C1C5;
	border-radius: 0px 0px 0px 20px;
}
#foot .f2 .f2-2-2 {
	height: 130px;
	width: 240px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #BFC8D7;
}
#foot .f2 .f2-3-2 {
	height: 130px;
	width: 240px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #C5DAD1;
}
#foot .f2 .f2-4-2 {
	height: 130px;
	width: 245px;
	margin-left: 5px;
	background-color: #E3E2B4;
	border-radius: 0px 0px 20px 0px;
}
#foot .pic {
	text-align: center;
	padding-top: 8px;
}